.text-button{
    /* font-size:16px;
    font-weight:bold;
    text-align:left;
    cursor:pointer;
    text-decoration: none; */
}

.text-button:hover{
    /* text-decoration: none; */
}

.swicth-button{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px; */
}

.submit-button{
    /* color:black;
    font-weight: bold;
    background: #FFD600;
    font-size: large;
    padding: 5px;
    border-radius: 4px;
    border: none; */
}

.submit-button:hover{
    /* background-color: #FFEA79; */
}
