.header-container {
  margin-top: 100px;
}

.main-text p {
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
}

section {
  padding-top: 90px;
  overflow-x: hidden;
}

/* quienes somos */

section .curly {
  background: url(../../assets/images/curly_img.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.inside-img-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* quienes somos */

/* testimonials */

.testimonials {
  padding-bottom: 200px;
  padding-top: 120px;
}

.carousel {
  color: black;
  background: transparent;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  top: -30px;
}

.carousel-text h3 {
  color: black !important;
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
}

.carousel-text p {
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: large;
}

.splash-left {
  position: absolute;
  top: -30px;
  transform: scale(0.9);
  left: -5px;
}

.splash-right {
  position: absolute;
  top: 25px;
  transform: scale(0.9);
  right: -20px;
}

.ketchup {
  position: absolute;
  transform: scale(0.9);
  right: -10px;
  bottom: -100px;
}

/* testimonials */

/* contact */

.contact {
  background-color: black;
  color: white;
  position: relative;
  top: -100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  z-index: -1;
}

.contact input {
  background-color: black;
}

.contact input:focus {
  color: #ffc700;
  background-color: black;
  border-color: #ffc700;
}

.contact textarea {
  background-color: black;
}

.contact textarea:focus {
  color: #ffc700;
  background-color: black;
  border-color: #ffc700;
}

.contact-description {
  color: white;
  font-size: larger;
}

.contact textarea {
  height: 120px !important;
}

/* contact */

/* app */
.app {
  position: relative;
  top: -200px;
  padding-top: 200px;
  margin-bottom: -600px;
}

.app-img {
  position: relative;
  top: -200px;
}

.app-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 25px;
  width: fit-content;
}

.app-card {
  text-align: center;
  padding: 10px;
  max-width: 300px;
}

.app-card-circle {
  background: #ffd600;
  width: 40px;
  padding: 8px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.app-card-title {
  font-weight: bold;
  font-size: larger;
}

.app-card-description {
  font-size: medium;
}

/* app */

/* footer */
.footer hr {
  height: 1px;
  background-color: #ffc700;
  border: none;
}
/* footer */

/* Mediun devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    padding-bottom: 0;
  }

  .main-text p {
    font-size: 50px;
    line-height: 30px;
  }

  /* quienes somos */
  section .curly {
    padding-top: 70px !important;
    padding-bottom: 130px !important;
    background-size: cover;
  }

  .inside-img-text {
    right: 40px;
  }
  /* quienes somos */

  /* sucursales */
  .sucursales {
    padding-top: 20px !important;
  }
  /* sucursales */

  /* testimonials */
  .ketchup {
    display: none;
  }
  /* testimonials */

  /* contact */
  .contact {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 300px;
  }
  /* contact */

  /* app */

  .app {
    top: -300px;
  }

  .app-img-container {
    margin-bottom: -300px;
  }

  .app-benefits-container {
    margin-bottom: 300px;
  }

  /* app */
}

/* Small Devices */
@media only screen and (max-width: 600px) {
  section {
    padding-top: 50px;
  }

  .main-text p {
    font-size: 40px;
    line-height: 30px;
  }

  /* header */

  .header-container {
    margin-top: 50px;
  }

  /* header */

  /* quienes somos */
  .inside-img-text {
    right: 30px;
  }

  section .curly {
    background: none;
  }

  /* quienes somos */

  /* Sucursales */
  .map-img {
    display: none;
  }

  .sucursales {
    padding-top: 20px !important;
  }
  /* sucursales */

  /* testimonials */
  .carousel-text h3 {
    font-size: 28px;
    line-height: 35px;
  }

  .splash-left {
    display: none;
  }

  .splash-right {
    display: none;
  }

  .ketchup {
    display: none;
  }

  .carousel .d-md-block {
    display: block !important;
  }

  /* testimonials */

  /* contact */
  .contact {
    padding: 20px;
    padding-bottom: 300px;
  }
  /* contact */

  /* app */

  .app {
    top: -300px;
  }

  .app-title {
    font-size: 30px;
    line-height: 30px;
  }

  .app-img-container {
    margin-bottom: -670px;
  }

  .app-benefits-container {
    margin-bottom: 250px;
  }

  .app-img {
    top: -417px;
    transform: scale(0.6);
    left: -200px;
  }
  /* app */

  /* footer */
  .footer-brand-text {
    text-align: center;
  }
  /* footer */
}
