@font-face {
    font-family: 'clarikaGeometrica';
    src: local('clarikaGeometrica'), url(../assets/fonts/clarikaGeometrica.ttf) format('truetype');
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
  
section {
    overflow-x: hidden;
}