header{
    background: url(../assets/images/hero_yellow_img.svg);
    background-repeat: no-repeat;
    background-size: 55%, contain;
    background-position: right -10px top 0;
    padding-bottom: 200px;
}

.brand-text p{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 3px;
}

.brand-text:hover{
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header{
        background-size: contain;
        padding-bottom: 10px;
    }
  }