.sucursales-input {
  font-size: large;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.sucursales-input:focus {
  outline: none;
}

.inputs-container{
    border-bottom-style: groove;
}

.sucursal-description {
  padding: 10px;
  margin:5px;
  line-height: 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.sucursal-description:hover {
  background-color: #FFF1BF;
}

.sucursal-description .title {
  font-size: large;
  font-weight: bold;
}
